*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/ai-generated-7988263_1920.jpg) fixed;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 100vh;

}

a{
    color: black;
    text-decoration: none;
}

article{
    background-color: white;
    opacity: 1;
    padding: 15px;
    border-radius: 15px;
}

h1{
    margin-top: 15px;
    font-size: 5em;
    text-align: center;
    font-family: 'Bangers', cursive;
}

form{
    text-align: center;
}

select{
    width: 50%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid;

}

p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}
button{
    font-family: 'Bangers', cursive;
    padding: 15px;
    font-size: 25px;
}

img{
    width: 30%;
}


